@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container {
    @apply max-w-full;
  }

  @screen xxs {
    .container {
      @apply max-w-[474px];
    }
  }

  @screen xs {
    .container {
      @apply max-w-[639px];
    }
  }

  @screen sm {
    .container {
      @apply max-w-[768px];
    }
  }

  @screen md {
    .container {
      @apply max-w-[1024px];
    }
  }

  @screen lg {
    .container {
      @apply max-w-[1280px];
    }
  }

  @screen xl {
    .container {
      @apply max-w-[1440px];
    }
  }

  @screen 2xl {
    .container {
      @apply max-w-[1920px];
    }
  }
}
.nav-link {
  position: relative;
  padding-bottom: 5px;
}

.nav-link::before,
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: lightseagreen;
  transition: width 0.4s ease-in-out;
}

.nav-link::before {
  left: 50%;
}

.nav-link::after {
  right: 50%;
}

.nav-link:hover::before,
.nav-link:hover::after {
  width: 50%;
}

/* login-signup box */

.signinBox {
  margin: auto;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.signinBox h2 {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 2px;
}

.letterSpacing {
  letter-spacing: 0px !important;
}

.labelText {
  font-size: 18px !important;
}

.forgotPass {
  color: #753ee9;
  font-weight: 600;
  margin-left: 0.5rem;
}

.loginBtn {
  background-color: #752fed;
  color: white;
  /* padding: 0.7rem 0.5rem; */
  height: 46.4px;
  position: relative;
  cursor: pointer;
}

.orText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem !important;
  padding: 1.7rem 0rem !important;
}

.orText::before,
.orText::after {
  content: "" !important;
  display: inline-block !important;
  width: 300px !important;
  border-top: 1px solid rgb(221, 220, 220) !important;
  /* margin: 0 0px !important; */
}

.newAccText {
  padding: 1.6rem 0 0 0 !important;
}

.posterImage {
  width: 8rem;
  height: 100%;
  max-width: 8rem;
  min-width: 8rem;
  flex-shrink: 0;
}

.movieCard {
  width: 25rem;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.movieTexts {
  width: 10rem;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  margin-bottom: 5px;
}

.watchBtn {
  background-color: #752fed;
  color: white;
  /* padding: 0.7rem 0.5rem; */
  cursor: pointer;
}
